<div class="h-full flex flex-col gap-4 px-12">
  <div class="flex justify-end">
    <button (click)="openDialog()">Add</button>
  </div>

  <div
    class="flex sm:flex-wrap items-center flex-col sm:flex-row sm:justify-between gap-8"
  >
    <app-movie-card
      class="w-[14.3rem]"
      *ngFor="let movie of movies"
      [movie]="movie"
    >
    </app-movie-card>
  </div>
</div>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  header="Add Movie"
  (onHide)="closeDialog()"
>
  <app-movie-crud [movie]="emptyMovie"></app-movie-crud>
</p-dialog>
