<div class="h-full flex flex-col gap-4 px-12">
  <div
    class="flex flex-col sm:flex-row justify-between items-end sm:items-center gap-2 sm:gap-0"
  >
    <!-- Filter by Category -->
    <div class="flex gap-2 items-center">
      <label for="categoryFilter" class="text-sm">Filter by Category:</label>
      <select
        id="categoryFilter"
        [(ngModel)]="selectedCategory"
        (change)="filterByCategory()"
        class="p-2 rounded-md border bg-transparent"
      >
        <option class="text-black" [value]="['']">All</option>
        <option
          class="text-black"
          *ngFor="let category of categories"
          [value]="category"
        >
          {{ category }}
        </option>
      </select>
    </div>

    <!-- Sort by Title -->
    <div class="flex gap-2 items-center">
      <label for="sortByTitle" class="text-sm">Sort by Title:</label>
      <button
        id="sortByTitle"
        (click)="toggleSortDirection()"
        class="p-2 rounded-md border flex min-w-[9rem] items-center gap-1 justify-between"
      >
        <span> Sort:</span>
        <span>{{ sortDirection === "asc" ? "Ascending" : "Descending" }}</span>
      </button>
    </div>
  </div>
  <div class="flex justify-end">
    <button
      [disabled]="!isLogged"
      class="p-2 border rounded-md hover:!text-green-300 hover:border-green-300 transition-all duration-300 flex gap-2 items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:!text-current disabled:hover:!border-current"
      (click)="openDialog()"
    >
      <span class="font-medium">ADD</span>
      <i class="pi pi-plus-circle" style="font-size: 1rem"></i>
    </button>
  </div>

  <div
    class="flex sm:flex-wrap items-center flex-col sm:flex-row sm:justify-between gap-8"
  >
    <app-movie-card
      class="w-[14.3rem]"
      *ngFor="let movie of filteredMovies"
      [movie]="movie"
      (movieDeleted)="onMovieDeleted($event)"
    >
    </app-movie-card>
  </div>
</div>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  header="Add Movie"
  (onHide)="closeDialog()"
>
  <app-movie-crud
    [movie]="emptyMovie"
    (formSubmit)="closeDialog()"
  ></app-movie-crud>
</p-dialog>
